html{
    background: url(../image/Toodle.png) no-repeat top;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.blackText {
    color: white;
    font-size: 11px;
    text-align: left;
}

.redText {
    color: darkred;
    font-size: 11px;
    text-align: left;
}

.greenText {
    color: green;
    font-size: 11px;
    text-align: left;
}

.loginButton {
    border: 1px solid #3399DD;
    color: #FFFFFF;
    background: #555555;
    font-size: 11px;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399DD;
}

.box {
    border: 1px solid #AACCEE;
    display: block;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 3px;
    width: 203px;
}

.background {
    background-color: #999999;
    border: 1px none transparent;
    color: #000000;
    font-size: 11px;
    margin-left: 45%;
    margin-top: 25%;
    padding: 6px;
}

.listBoxStyle{
    font-size: 11px;
}