h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body {
    margin: 0px;
    font-family: arial, sans-serif;
    padding: 0;
}

/*Header widget*/
.header {
    padding: 20px 50px;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin-right: 60px;
}

.header_menu_item {
    display: inline-block;
    margin: 0 15px;
    padding: 6px;
    cursor: pointer;
}

.header_menu_item:hover {
    background-color: #E3F2FD;
    border-radius: 3px;
}

.header_menu {
    padding: 6px;
    margin: 0px;
    display: inline-block;
    float: right;
}

.header_menuPopup {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px #eeeeee;
}

.gwt-MenuItem {
    cursor: pointer;
}

.header_menuPopup .gwt-MenuItem {
    margin: 5px 0;
    padding: 3px;
}

.header_menuPopup .gwt-MenuItem:hover {
    background-color: #E3F2FD;
    border-radius: 3px;
}

/*Center block*/
.content {
    padding: 20px;
    width: 69%;
    float: left;
    margin: 0 auto;
}

/*Sidebar*/
.sidebar {
    padding: 20px;
    float: right;
    width: 25%;
    border-left: 1px solid #e5e5e5;
}